<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power by Service UP</title>
    <h1>Success Request !</h1>
    <h1>Wait moment, when completed Email will be send ! login server check rest and logs, task name, status, pid</h1>
    <h2>{{ resp }}</h2>
    <h2>{{ pids }}</h2>
    <h3>{{ reportDiv }}</h3>
    <h3>{{ picDiv }}</h3>
    <h3>{{ time_now }}</h3>
    <h3>LogPath:{{ tmpLog }}</h3>
    <p style="background-color:yellow" ></p>
        <h3>All Case execute example:http://{{ service_host}}:12580{{ path }}</h3>
               <p style="background-color:yellow"></p>
                  <h3>Runner exec service ip : {{ service_ip }}</h3>
</head>
<body>

</body>
</html>
